footer.footer {
    height: 400px;
}

footer.footer-title {
    padding-top: 5px;
}

footer.footer-subtitle {
    padding-bottom: 30px;
}

.footer-menu-icon {
    padding: 20px;
    color: #e53935;
}

.footer-menu-icon>a>i:hover {
    transform: scale(1.1) !important;
    z-index: 2;
    color: #e53935CC;
}

.footer-menu-copyright {
    padding-top: 30px;
}