.modal-card-head,
.modal-card-body,
.modal-card-foot {
  background-color: #222 !important;
  border: 0.03px solid #ffffff11 !important;
}

button.is-medium.has-background-primary.has-text-light.search-btn-ok,
button {
  border: 0.03px solid #ffffff11 !important;
}

button.is-medium.has-background-primary.has-text-light.search-btn-ok:hover {
  border: 0.03px solid #f5f5f5 !important;
}

.modal-card,
.is-active,
.modal {
  box-shadow: 3px 3px 15px #222 !important;
  transition: all 300ms ease-in-out !important;
}
