::-webkit-scrollbar {
  width: 13px;
}

::-webkit-scrollbar-track {
  background-color: #222;
  box-shadow: -3px 0 3px rgba(3, 3, 3, 0.2);
  border-radius: 2px;
}

::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 2px;
  border: 1px solid #e53935;
}
