/* #debug-red-lines {
    outline: 1px solid red;
} */

.ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.parallax {
    background-size:cover;
    background-repeat:no-repeat;
    background-attachment: fixed;
}
