#sec-pessoas {
    /* background-image: url('/website-templates/arambare/assets/img/pessoas.jpg'); */
    background-image: url('/website-templates/arambare/assets/img/pessoas.jpg');
    background-position: center center;
}