.crop-text {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 225px;
}

@media screen and (max-width: 1250px) {
  .crop-text {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 190px;
  }
}

@media screen and (max-width: 770px) {
  .crop-text {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 310px;
  }
}

@media screen and (max-width: 770px) {
  .crop-text {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 310px;
  }
}

@media screen and (max-width: 260px) {
  .crop-text {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 130px;
  }
}

@media screen and (max-width: 500px) {
  .crop-text {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 160px;
  }
}

.linear-activity {
  overflow: hidden;
  width: 50%;
  height: 4px;
  background-color: #ffebee;
  margin: 20px auto;
}

.determinate {
  position: relative;
  max-width: 100%;
  height: 100%;
  -webkit-transition: width 500ms ease-out 1s;
  -moz-transition: width 500ms ease-out 1s;
  -o-transition: width 500ms ease-out 1s;
  transition: width 500ms ease-out 1s;
  background-color: #e53935;
}

.indeterminate {
  position: relative;
  width: 100%;
  height: 100%;
}

.indeterminate:before {
  content: '';
  position: absolute;
  height: 100%;
  background-color: #e53935;
  animation: indeterminate_first 1.5s infinite ease-out;
}

.indeterminate:after {
  content: '';
  position: absolute;
  height: 100%;
  background-color: #ee6a68;
  animation: indeterminate_second 1.5s infinite ease-in;
}

@keyframes indeterminate_first {
  0% {
    left: -100%;
    width: 100%;
  }
  100% {
    left: 100%;
    width: 10%;
  }
}

@keyframes indeterminate_second {
  0% {
    left: -150%;
    width: 100%;
  }
  100% {
    left: 100%;
    width: 10%;
  }
}

.modal.is-active,
.modal.is-active > .modal-background {
  transition: all 300ms ease-in-out !important;
}

button {
  transition: all 300ms ease-in-out;
}
