.tiled-gallery {
    background-color: #222;
    padding: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tiled-gallery-item {
    border-radius: 6px;
    margin: 3px;
}

.tiled-gallery-item img {
    border-radius: 6px;
    transition: all .1s ease-in-out;
}

.tiled-gallery-item img:hover {
    box-shadow: 0 4px 15px rgba(20, 20, 20, 0.918);
}

#post-container {
    margin-top: 50px;
}

#post-content-container>div>img {
    border-radius: 6px;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.video-container iframe, .video-container object, .video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

pre {
    white-space: pre-wrap !important;
    word-wrap: break-word !important;
    text-align: left !important;
}