.search-input,
div.select > .search-select {
  background-color: #333;
  border-color: #222;
  color: #f5f5f5;
}

.search-input:hover {
  border-color: #e53935;
}

div.select > .search-select {
  color: #f5f5f5;
}

div.select.is-primary:hover::after {
  border-color: #f5f5f5 !important;
}

button.is-inverted.is-primary.search-btn-trash {
  background-color: #333;
}

button.is-inverted.is-primary.search-btn-trash:hover {
  background-color: #222;
  border-color: #333;
}
