<div id="alert-text-copied" class="alert alert-success" style="position: fixed; bottom: 0px; width: 100%; opacity:1;z-index: 10;" role="alert">
    <button type="button" class="close" data-dismiss="alert">×</button>
    <h2>Prontinho!</h2>
    <p class="mb-0 lead">O texto foi copiado para a área de transferência.</p>
</div>