<div class="my-2 col-md-6">
    <div class="row">
        <div class="col-md">
            <img tess-img class="d-block mx-auto img-fluid img-thumbnail" src="../img/no-pic.jpg">
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div prg-bar-container class="progress my-1" style="height: 30px;display:none;">
                <div prg-bar class=" progress-bar progress-bar-animated progress-bar-striped" role="progressbar" style="width: 0%;"></div>
            </div>
        </div>
    </div>
</div>
<div class="col-md-5 align-self-center">
    <p class="lead border p-1">O texto da imagem aparecerá aqui assim que ela for processada. Por favor, aguarde.</p>
</div>
<div class="align-self-center col-md-1">
    <!-- <div class="row"></div> -->
    <div class="row justify-content-center my-1">
        <a class="fa fa-clone fa-3x btn btn-outline-light d-block btn-lg btn-block fa-fw mx-1"> </a>
    </div>
    <!-- <div class="row"></div> -->
</div>