/* 
// debugger
* {
  border: 1px solid greenyellow !important;
} */

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.card {
  transition: all .1s ease-in-out;
  border-radius: 14px !important;
  height: 100% !important;
}

.card a, .card button {
  border-radius: 1px !important;
}

.card:hover {
  box-shadow: 0 8px 45px rgba(20, 20, 20, 0.918);
  transform: scale(1.1);
  z-index: 2;
}

.card-content .tag {
  border-radius: 14px !important;
}

.card-footer-item, .card-footer {
  border-color: #333 !important;
}