
:root {
    --flip-hard-bg: teal;
    --flip-hard-shadow: #666;
    --flip-hard-color: #333;
}

#flipbook{
    top: 180px;
    width:100%;
    height:600px;
    
}

#flipbook .page{
    width:100%;
    height:100%;
    line-height:22px;
    font-size:20px;
    text-align:center;
}

#flipbook .page-wrapper{
    -webkit-perspective:2000px;
    -moz-perspective:2000px;
    -ms-perspective:2000px;
    -o-perspective:2000px;
    perspective:2000px;
    box-shadow: 4px 3px 15px rgba(34, 34, 34, 0.678);
}


/*UNUSED*/
.drop-box-shadow {
    box-shadow: 4px 3px 15px #222;
}

#flipbook .hard{
    background: var(--flip-hard-bg) !important;
    color:var(--flip-hard-color);
    -webkit-box-shadow:inset 0 0 5px var(--flip-hard-shadow);
    -moz-box-shadow:inset 0 0 5px var(--flip-hard-shadow);
    -o-box-shadow:inset 0 0 5px var(--flip-hard-shadow);
    -ms-box-shadow:inset 0 0 5px var(--flip-hard-shadow);
    box-shadow:inset 0 0 5px var(--flip-hard-shadow);
    font-weight:bold;
}

#flipbook .odd{
    background:-webkit-gradient(linear, right top, left top, color-stop(0.95, #fff5e4), color-stop(1, #DADADA));
    background-image:-webkit-linear-gradient(right, #fff5e4 95%, #fff3cf 100%);
    background-image:-moz-linear-gradient(right, #fff5e4 95%, #fff3cf 100%);
    background-image:-ms-linear-gradient(right, #fff5e4 95%, #fff3cf 100%);
    background-image:-o-linear-gradient(right, #fff5e4 95%, #fff3cf 100%);
    background-image:linear-gradient(right, #fff5e4 95%, #fff3cf 100%);
    -webkit-box-shadow:inset 0 0 5px #666;
    -moz-box-shadow:inset 0 0 5px #666;
    -o-box-shadow:inset 0 0 5px #666;
    -ms-box-shadow:inset 0 0 5px #666;
    box-shadow:inset 0 0 5px #666;
    
}

#flipbook .even{
    background:-webkit-gradient(linear, left top, right top, color-stop(0.95, #fff), color-stop(1, #dadada));
    background-image:-webkit-linear-gradient(left, #fff5e4 95%, #fff3cf 100%);
    background-image:-moz-linear-gradient(left, #fff5e4 95%, #fff3cf 100%);
    background-image:-ms-linear-gradient(left, #fff5e4 95%, #fff3cf 100%);
    background-image:-o-linear-gradient(left, #fff5e4 95%, #fff3cf 100%);
    background-image:linear-gradient(left, #fff5e4 95%, #fff3cf 100%);
    -webkit-box-shadow:inset 0 0 5px #666;
    -moz-box-shadow:inset 0 0 5px #666;
    -o-box-shadow:inset 0 0 5px #666;
    -ms-box-shadow:inset 0 0 5px #666;
    box-shadow:inset 0 0 5px #666;
}