.gradient-section {
    background: #ff3333;
    background: -webkit-linear-gradient(to right, #001510, #ff3333);
    background: linear-gradient(to right, #001510, #ff3333);
    box-shadow: 3px 3px 15px #222;
}

.gradient-section .title {
    margin-top: 80px;
}

.gradient-section .card-content {
    padding: 5px;
}

.parallax {
    filter: grayscale(0.3) !important;
    background-repeat: no-repeat !important;
}

.parallax-adjust-size {
    margin-top: 2.1vw;
    margin-left: 13px;
    height: 550px;
}

.about-parallax {
    background-image: url('/img/portao-header.jpg');
}

.gradient-section-adjust-size {
    margin-bottom: 100px;
    margin-top: 100px;
    height: 550px;
}

.gradient-section, .parallax {
    -webkit-transform: skewY(-5deg) !important;
    -moz-transform: skewY(-5deg) !important;
    -ms-transform: skewY(-5deg) !important;
    -o-transform: skewY(-5deg) !important;
    transform: skewY(-5deg) !important;
}

.gradient-section {
    width: 100%;
}

.gradient-section>.parallax {
    padding-top: 300px;
}

.gradient-section>div {
    -webkit-transform: skewY(5deg) !important;
    -moz-transform: skewY(5deg) !important;
    -ms-transform: skewY(5deg) !important;
    -o-transform: skewY(5deg) !important;
    transform: skewY(5deg) !important;
}

.table-container {
    overflow-x: auto;
}

@media(max-width: 550px) {
    .card-content {
        max-width: 400px;
    }
}

@media(max-width: 450px) {
    .card-content {
        max-width: 200px;
    }
}

.has-text-teal {
    color: #4caf50;
}

.table-card {
    box-shadow: 3px 3px 15px #222;
}

.made-by-hand-title {
    padding-bottom: 25px;
}