#header-title {
    font-family: 'Rouge Script', cursive;
    text-shadow: 2px 2px 4px #000000;
}

.drop-text-shadow  {
    text-shadow: 2px 3px 5px #000000;
}

@media (max-width: 600px){
    #header-title {
        font-size: 3.5em;
    }
}

#book {
    padding: 5px;
    height: 1100px;
}


@media (max-width: 480px) {
    a[insta-read-more] {
        display: none;
    }
}